/* @media (min-width: 1024px) { */
	html {
		height: 100%;
	}

	a,
	a:hover,
	a:active {
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		color: #7d0bed;
		text-decoration: none;
	}

	body {
		margin: 0;

		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		/*background-color: #ddd;*/
		color: #444;
		scroll-behavior: smooth;

		/* for footer */
		position: relative;
		min-height: 100%;
	}

	h1, h2, h3 {
		font-family: 'Roboto', sans-serif;
	}

	/* Navigation, aka Topbar */
	nav {
		position: relative;
		min-height: 64px;
	}

	nav ul {
		display: flex;
		height: 64px;
		margin: 0;
		padding: 0;
		justify-content: center;
		align-items: center;
	}

	nav ul li {
		box-sizing: border-box;
		display: inline-block;
		padding: 4px 0;
		margin: 0 16px;
		cursor: pointer;
	}

	nav ul li:hover {
		color: #7d0bed;
		border-bottom: 2px solid;
	}

	nav .logo {
		position: absolute;
		padding: 6px 20px;
	}

	nav .phone {
		position: absolute;
		margin: 18px 40px;
		padding: 0 28px;
		font-size: 18px;

		background-image: url("/images/social/009-whatsapp-logo.svg");
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: 4px;
	}

	nav ul.social {
		position: absolute;
		right: 0;
		top: 0;
		margin-right: 20px;
	}

	nav ul.social > li {
		margin: 0 8px;
		padding: 0;
		width: 32px;
		height: 32px;
		background-color: #eee;
		border-radius: 24px;
	}

	nav ul.social > li > img {
		width: 32px;
		height: 32px;
		background-color: #eee;
		border-radius: 24px;
	}

	/**
	nav ul.social > li > img:hover {
		color: #7d0bed;
		border-bottom: 2px solid;
	}
	**/

	/* Generic content */
	.wrapper {
		width: 1024px;
		margin: 0 auto;
		background-color: #fff;
		min-height: 100%;
		padding: 0 52px;
		box-sizing: border-box;

		/* for footer */
		padding-bottom: 316px; /* 52 (padding) + 64 (footer size) */
	}

	.base-color {
		color: #7d0bed;
	}

	.error {
		border-radius: 3px;
		border: 1px solid #ff0000;
		background-color: rgba(255, 0, 0, 0.2);
		padding: 8px;
		margin: 4px 0;
	}

	footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 64px;
	}

	.button {
		display: block;
		font-family: 'Arista';
		border-radius: 3px;
		background-color: #7d0bed;
		color: #fff;
		padding: 10px 8px 5px 8px;
		font-size: 24px;
		text-align: center;
		border: 1px solid #7d0bed;
		transition: background-color 0.2s, color 0.2s;
		cursor: pointer;
	}

	.button:hover {
		color: #fff;
		background-color: #9325ff;
	}

	.button .letter-a {}

	.row {
		display: flex;
		width: 100%;
	}

	.row > * {
		flex: 1 1 100%;
	}

	.row > .category {
		position: relative;
		display: -webkit-flex;
		display: flex;
		margin: 8px;
	}

	.row > .item img,
	.row > .package-preview img,
	.row > .category img {
		width: 100%;
		height: 300px;
		border-radius: 3px;
		object-fit: cover;
	}

	.row > .category.category-small,
	.row > .category.category-small:first-of-type,
	.row > .category.category-small:last-of-type {
		margin-bottom: 10px;
	}

	.row > .category.category-small img {
		width: 100%;
		height: 100%;
	}

	.row > .category .curtain {
		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 60px;
		line-height: 60px;

		color: #fff;
		background-color: rgba(0, 0, 0, 0.5);
		font-size: 22px;
		font-weight: lighter;

		border-radius: 0 0 3px 3px;
		transition: height 0.40s ease-in;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.row > .category:hover > .curtain {
		height: 100%;
		transition: height 0.5s ease-in;
	}

	/* Index */
	header {
		padding-top: 40px;
		margin-bottom: 48px;
		text-align: center;
	}

	header > .title {
		display: inline-block;
		position: relative;
		font-family: 'Roboto';
		font-size: 80px;
		top: -40px;
		width: 600px;
	}

	header > .title .subtitle {
		width: inherit;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		color: #666;
	}

	.search > form {
		display: flex;
	}

	.search .block {
		flex: 1 0 auto;
		border: 1px solid #ccc;
		padding: 16px 20px;
	}

	.search .block:first-of-type {
		border-radius: 3px 0 0 3px;
		border-right: 0;
	}

	.search .block:last-of-type {
		border-left: 0;
		border-right: 0;
	}

	.search .block .title {
		font-weight: bold;
		font-size: 18px;
		color: #444;
	}

	.search .block input {
		box-sizing: border-box;
		width: 100%;
		padding: 10px 20px;
		font-size: 14px;
		border: 0;
	}

	.search .button {
		border: 0;
		color: #fff;
		background-color: #7d0bed;
		border-radius: 0 3px 3px 0;
		width: 124px;
		font-size: 32px;
		font-family: 'Arista';
		transition: all 0.2s;
		cursor: pointer;
	}

	.search > .arrow {
		text-align: center;
		height: 90px;
	}

	@keyframes wobble  {
	  0%  { transform: translate(0, 0); }
	  15%  { transform: translate(0, 8px); }
	  30%  { transform: translate(0, 4px); }
	  45%  { transform: translate(0, 8px); }
	  60%  { transform: translate(0, 0px); }
	}

	.search > .arrow #go-down { animation: wobble 2s infinite; }

	.content h1 {
		display: inline-block;
		font-size: 24px;
		border-bottom: 3px solid #7d0bed;
		padding: 4px 0;

	}

	/* Package preview */
	.row > .package-preview {
		margin: 0 4px 8px 4px;
		max-width: 222px;
	}

	.row > .package-preview img {
		width: 100%;
		height: 200px;
		border-radius: 3px 3px 0 0;
		object-fit: cover;
	}

	.package-preview .description {
		margin-top: -5px;
		border: 1px solid #ddd;
		border-top: 0;
		border-radius: 0 0 3px 3px;
	}

	.package-preview .description .title {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-size: 16px;
		margin: 0;
		padding: 14px 10px 0;
	}

	.package-preview .description .subtitle {
		display: flex;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 14px;
		margin: 0;
		padding: 5px 10px;
	}

	.package-preview .description .subtitle .reviews {
		width: 100%;
		text-align: right;
		color: #7d0bed;
	}

	.package-preview .description .subtitle .reviews .stars {
		line-height: 14px;
		font-size: 18px;
	}

	.package-preview .button {
		margin: 10px;
		color: #333;
		background-color: #fff;
		border: 1px solid #7d0bed;
		transition: all 0.2s;
	}

	.package-preview .button .letter-a {
		transition: all 0.2s;
		color: #7d0bed;
	}

	.package-preview:hover .button {
		background-color: #7d0bed;
		color: #fff;
	}

	.package-preview:hover .button .letter-a {
		color: #fff;
	}

	/* Package */
	.package {
		display: flex;
		min-height: 100%;
	}

	.package > .column-1-3 {
		flex: 0 0 33%;
		margin-top: 16px;
	}

	.package > .column-2-3 {
		flex: 0 0 66%;
	}

	.package > .package-content {
		margin-left: 32px;
	}

	.package .main-photo {
		background-color: #eee;
		height: 344px;
		width: 288;
		border-radius: 3px;
		margin-bottom: 16px;
	}

	.package .main-photo img {
		border-radius: 3px;
	}

	.package .button-buy {
		display: flex;
		width: 100%;
		margin-top: 16px;
		flex-wrap: wrap;
	}

	.package .button-buy > .button,
	.package .button-buy > .price {
		padding: 0 16px;
		box-sizing: border-box;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.package .button-buy > .button {
		width: 70%;
		border-radius: 3px 0 0 3px;
	}

	.package .button-buy > .price {
		background-color: #fff;
		border: 1px solid #7d0bed;
		border-radius: 0 3px 3px 0;
		width: 30%;
		font-size: 18px;
		padding: 0;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
	}

	.package .preventive {
		display: block;
		margin: 8px 0 32px 0;
		font-size: 12px;
		transition: 0.2s color;
	}

	/* Alternative
	.package .button-buy > .button {
		width: 70%;
		border-radius: 3px 0 0 0;
	}

	.package .button-buy > .price {
		background-color: #fff;
		border: 1px solid #7d0bed;
		border-radius: 0 3px 0 0;
		width: 30%;
		font-size: 18px;
		padding: 0;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
	}

	.package .preventive {
		display: block;
		margin: 0 0 32px 0;
		font-size: 12px;
		border: 1px solid #7d0bed;
		padding: 4px;
		border-radius: 0  0 3px 3px;
		border-top: 0;
	}
	/**/

	.package .preventive:hover {
		color: #7d0bed;
	}

	.package .reviews {
		margin: 16px 0;
	}

	.package .reviews > .item {
		margin: 16px 0;
		position: relative;
		height: 80px;
	}

	.package .reviews > .item .photo {
		background-color: #eee;
		width: 48px;
		height: 48px;
		border-radius: 24px;
	}

	.package .reviews > .item .name {
		position: absolute;
		top: 0;
		left: 64px;
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
	}

	.package .reviews > .item .content {
		position: absolute;
		top: 20px;
		left: 64px;
		font-size: 13px;
	}

	/* Package content */
	.package-content {
		box-sizing: border-box;
		padding: 8px;
	}

	.package-content .title {
		font-family: 'Arista';
		font-size: 64px;
		margin-bottom: 8px;
		text-transform: uppercase;
	}

	.package-content .title:first-letter {
		color: #7d0bed;
	}

	.package-content .list > ul {
		margin: 0 0 16px 0;
		padding: 0 0 0 0;
		list-style: none;
	}

	.package-content .list > ul li {
		padding: 0 8px 8px 28px;
	}

	.package-content .list > ul li.departure-date {
		background-image: url("/images/social/008-clock.svg");
		background-repeat: no-repeat;
		background-size: 20px;
	}

	.package-content .list > ul li.departure {
		background-image: url("/images/social/004-placeholder-for-map.svg");
		background-repeat: no-repeat;
		background-size: 20px;
	}

	.package-content .list > ul li.transport {
		background-image: url("/images/social/signs.svg");
		background-repeat: no-repeat;
		background-size: 20px;
	}

	.package-content .description {
		margin: 16px 0 32px 0;
	}

	.package-content .plus {
		margin: 16px 0 32px 0;
	}

	.package-content .plus h2 {
		margin-bottom: 8px;
	}

	.package-content .plus h2:first-letter {
		color: #7d0bed;
	}

	.package-content .plus p {
		margin-top: 8px;
	}

	.package-content .plus > ul {}
	.package-content .plus > ul li {
		margin-bottom: 8px;
	}

	.package-content .timeline {
		margin: 16px 0 32px 0;
	}

	.package-content .timeline > ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.package-content .timeline > ul li {
		margin: 0;
		padding: 0;
	}

	.package-content .timeline > ul li .bullet-point {
		position: absolute;
		width: 28px;
		height: 28px;
		border-radius: 16px;
		border: 2px solid #7d0bed;
	}

	.package-content .timeline > ul li .text {
		border-left: 2px solid;
		padding-left: 32px;
		margin-top: 8px;
		margin-left: 15px;
		padding-bottom: 16px;
	}

	.package-content .timeline > ul li:last-of-type > .text {
		border-left: 0;
	}

	.package-content .timeline > ul li h2 {
		font-size: 16px;
		line-height: 18px;
		min-height: 18px;
		margin: 0;
		font-family: 'Roboto', sans-serif;
		padding-top: 4px;
		padding-left: 48px;
	}

	/* Fix Loz' itinierary */
	.package-content .timeline p {
		margin: 0;
		padding: 8px 0;
	}

	.package-content .hints h2:first-letter {
		color: #7d0bed;
	}

	.package-content .hints > .intro {	}

	.package-content .hints > .button {
		width: 100%;
	}

	/* Footer */
	footer.main {
		box-sizing: border-box;
		border-top: 1px solid #ddd;
		height: 284px;
	}

	footer.main > .flex-wrapper {
		display: flex;
		align-items: center;
		padding: 24px;
	}

	footer.main > .flex-wrapper > img {
		flex: 0 0 200px;
		padding: 0;
		display: block;
		width: 150px;
		height: 150px;
		object-fit: cover;
	}

	footer.main > .flex-wrapper > .contacts {
		margin: 0 0 0 32px;
		flex: 1 0;
		top: 0;
		left: 200px;
		padding: 0 16px;
	}

	footer.main > .flex-wrapper > .contacts > .phone {
		background-image: url("/images/social/009-whatsapp-logo.svg");
		background-size: 16px;
		background-repeat: no-repeat;
		background-position: 4px;
		padding: 0 0 0 28px;
	}

	footer.main > .flex-wrapper > .contacts > .mail {
		background-image: url("/images/social/002-e-mail-envelope.svg");
		background-size: 16px;
		background-repeat: no-repeat;
		background-position: 4px;
		padding: 0 0 0 28px;
	}

	footer.main > .flex-wrapper > .legal {
		flex: 1 0;
		padding: 0 16px;
	}

	footer.main > .flex-wrapper > .legal > .iva {
		font-size: 12px;
	}

	footer.main > .flex-wrapper > .legal > .copyright {
		margin-top: 16px;
		font-size: 12px;
	}

	footer.main > .others {
		display: flex;
		height: 32px;
		align-items: center;
		justify-content: flex-end;
		margin: 0 16px 0 16px;
		border-top: 1px solid #ddd;
		font-size: 12px;
	}

	footer.main > .others > * {
		padding: 0 16px 0 16px;
	}

	footer.main > .others > *:last-of-type {
		padding: 0 0 0 16px;
	}

	/* Popup */
	.popup-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
		z-index: 1;
		
		transition: visibility 0.4s, opacity 0.4s;
	}

	.popup-wrapper > .popup {
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		width: 400px;
		height: 400px;
		background-color: #fff;
		border-radius: 3px;
		padding: 24px;
		box-sizing: border-box;
		z-index: 2;
	}

	.popup-wrapper > .popup .title {
		font-family: 'Arista';
		text-transform: uppercase;
		font-size: 48px;
		text-align: center;
		margin-bottom: 8px;
	}

	.popup-wrapper > .popup .content {
		margin-bottom: 24px;
		text-align: center;
	}

	.popup-wrapper > .popup .button {
		margin-top: 4px;
		width: 100%;
	}

	.popup-wrapper > .popup input {
		border: 0;
		border-radius: 3px;
		border: 1px solid #ddd;
		width: 100%;
		padding: 8px;
		box-sizing: border-box;
		margin: 4px 0;
	}

	.popup-wrapper > .popup > .close {
		font-family: 'Arista';
		position: absolute;
		top: 0;
		right: 0;
		margin: 8px;
		font-size: 24px;
		cursor: pointer;
	}

	.popup-wrapper > .popup .error {
		padding: 4px;
		margin: 4px 0;
		border-radius: 3px;
		border: 1px solid #f00;
		background-color: rgba(255, 0, 0, 0.2);
		font-size: 12px;
	}

	#popup-guide {
		opacity: 0.0;
		visibility: hidden;
	}

	/* Book */
	.book {}

	.book h2 {
		color: #7d0bed;
	}

	.book select,
	.book input[type="text"],
	.book textarea {
		width: 100%;
		padding: 8px;
		border-radius: 3px;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}

	.book .block {
		margin: 16px 0;
	}

	.book .block.flex {
		display: flex;
		width: 100%;
	}

	.book .block.flex > * {
		flex: 1 1 auto;
		margin: 0 8px;
	}

	.book .block.flex > *:first-of-type {
		margin: 0 8px 0 0;
	}

	.book .block.flex > *:last-of-type {
		margin: 0 0 0 8px;
	}

	.book .block > .title {}
	.book .block > .input {}

	.book .button {
		width: 100%;
	}

	.book .error {
		border-radius: 3px;
		border: 1px solid #ff0000;
		background-color: rgba(255, 0, 0, 0.2);
		padding: 8px;
		margin: 4px 0;
	}


	.success {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 200px;
	}

	/* Cookie Popup */
	.cookie-popup {
		padding: 16px;
		font-size: 12px;
		position: fixed;
		bottom: -500px;
		right: 0;
		background-color: #fff;
		z-index: 1;
		width: 400px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.33);
		margin: 16px;
		transition: 0.4s bottom;
	}

	.cookie-popup > .close {
		position: absolute;
		right: 0;
		top: 0;
		margin: 8px;
		font-family: 'Arista';
		cursor: pointer;
	}

	.cookie-popup > .content {
		margin-bottom: 16px;
	}

	.cookie-popup > .button {
		cursor: pointer;
	}

	.cookie-popup > .button:hover {
		color: #333;
		background-color: #fff;
		border: 1px solid #7d0bed;
		transition: background-color 0.2s, color 0.2s;
	}

	/* Contact us */
	.contact-us {}

	.contact-us h2 {
		color: #7d0bed;
	}

	.contact-us .phone-list {}

	.contact-us .phone-list .phone {
		background-image: url("/images/social/009-whatsapp-logo.svg");
		background-size: 16px;
		background-repeat: no-repeat;
		background-position: 4px;
		padding: 0 0 0 28px;
	}

	.contact-us .email {
		background-image: url("/images/social/002-e-mail-envelope.svg");
		background-size: 16px;
		background-repeat: no-repeat;
		background-position: 4px;
		padding: 0 0 0 28px;
	}

	.contact-us > form {}
	.contact-us > form textarea,
	.contact-us > form input[type="text"] {
		display: block;
		width: 100%;
		border: 1px solid #ddd;
		padding: 8px;
		box-sizing: border-box;
		margin: 4px 0;
	}

	.contact-us > form button {
		width: 100%;
	}
/*}*/